<a href="https://colab.research.google.com/github/Amitsharma405/Amit_projects/blob/main/Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ques-1
 Write a code to reverse a string.

In [ ]:
s = "hello"
reversed_string = s[::-1]
print(reversed_string)

olleh

ques- 2 Write a code to count the number of vowels in a string

In [ ]:
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count = 0

    for char in text:
        if char in vowels:
            count += 1

    return count


string = "Hello World"
print("Number of vowels:", count_vowels(string))

Number of vowels: 3

ques-3 Write a code to check if a given string is a palindrome or not

In [ ]:
def is_palindrome(text):

    cleaned_text = text.replace(" ", "").lower()

    return cleaned_text == cleaned_text[::-1]


string = "Madam"
if is_palindrome(string):
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

The string is a palindrome

ques-4 Write a code to check if two given strings are anagrams of each other

In [ ]:
def are_anagrams(str1, str2):

    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()


    return sorted(str1) == sorted(str2)


string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print("The strings are anagrams")
else:
    print("The strings are not anagrams")

The strings are anagrams

	ques-5 Write a code to find all occurrences of a given substring within another string

In [ ]:
def find_substring_occurrences(text, substring):
    occurrences = []
    start = 0

    while True:
        index = text.find(substring, start)
        if index == -1:
            break
        occurrences.append(index)
        start = index + 1

    return occurrences


string = "banana"
sub = "ana"

positions = find_substring_occurrences(string, sub)
print("Substring found at positions:", positions)

Substring found at positions: [1, 3]

ques-6 Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(s):
    if not s:
        return ""

    result = ""
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            result += s[i - 1] + str(count)
            count = 1


    result += s[-1] + str(count)

    return result


string = "aaabbccccdaa"
print(compress_string(string))

a3b2c4d1a2

ques-7 Write a code to determine if a string has all unique characters

In [ ]:
def has_unique_characters(s):
    for i in range(len(s)):
        for j in range(i + 1, len(s)):
            if s[i] == s[j]:
                return False
    return True


string = "hello"
print(has_unique_characters(string))

False

ques-8 Write a code to convert a given string to uppercase or lowercase

In [ ]:
def convert_case(text):
    uppercase = text.upper()
    lowercase = text.lower()
    return uppercase, lowercase

# Example usage
string = "Hello World"
upper, lower = convert_case(string)

print("Uppercase:", upper)
print("Lowercase:", lower)

Uppercase: HELLO WORLD
Lowercase: hello world

ques-9 Write a code to count the number of words in a string

In [ ]:
def count_words(text):
    words = text.split()
    return len(words)


string = "Hello world, welcome to Python programming"
print("Number of words:", count_words(string))

Number of words: 6

ques-10 Write a code to concatenate two strings without using the + operator

In [ ]:
def concatenate_strings(str1, str2):
    return "".join([str1, str2])

# Example usage
s1 = "Hello"
s2 = "World"
print(concatenate_strings(s1, s2))

HelloWorld

ques-11 Write a code to remove all occurrences of a specific element from a list

In [ ]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example usage
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2

new_list = remove_element(my_list, element_to_remove)
print("List after removal:", new_list)

List after removal: [1, 3, 4, 5]

ques-12 Implement a code to find the second largest number in a given list of integers

In [ ]:
def second_largest(lst):
    if len(lst) < 2:
        return None

    first = second = float('-inf')
    for num in lst:
        if num > first:
            second = first
            first = num
        elif first > num > second:
            second = num

    return second if second != float('-inf') else None


numbers = [10, 20, 4, 45, 20, 45]
print("Second largest number:", second_largest(numbers))

Second largest number: 20

ques-13 Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
def count_occurrences(lst):
    counts = {}
    for item in lst:
        if item in counts:
            counts[item] += 1
        else:
            counts[item] = 1
    return counts


my_list = [1, 2, 2, 3, 4, 2, 3, 1]
print(count_occurrences(my_list))

{1: 2, 2: 3, 3: 2, 4: 1}

ques-14 Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:

        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1


my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

ques-15 Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result


my_list = [1, 2, 2, 3, 4, 3, 5, 1]
new_list = remove_duplicates(my_list)
print("List after removing duplicates:", new_list)

List after removing duplicates: [1, 2, 3, 4, 5]

ques-16 Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def is_sorted(lst):
    if len(lst) < 2:
        return True  # A list with 0 or 1 element is sorted

    ascending = all(lst[i] <= lst[i+1] for i in range(len(lst)-1))
    descending = all(lst[i] >= lst[i+1] for i in range(len(lst)-1))

    return ascending or descending

list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 4, 1]
list3 = [1, 3, 2, 4]

print(is_sorted(list1))
print(is_sorted(list2))
print(is_sorted(list3))

ques 17 Write a code to merge two sorted lists into a single sorted list

In [ ]:
def merge_sorted_lists(list1, list2):
    merged = []
    i = j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1

    merged.extend(list1[i:])
    merged.extend(list2[j:])

    return merged



a = [1, 3, 5, 7]
b = [2, 4, 6, 8]

print(merge_sorted_lists(a, b))

[1, 2, 3, 4, 5, 6, 7, 8]

ques 18 Implement a code to find the intersection of two given lists

In [ ]:
def intersection_unique(list1, list2):
    return list(set(list1) & set(list2))


a = [1, 2, 3, 4, 5]
b = [3, 4, 5, 6, 7]

print(intersection_unique(a, b))

[3, 4, 5]

ques 19 Create a code to find the union of two lists without duplicates

In [ ]:
def union_no_duplicates(list1, list2):
    return list(set(list1) | set(list2))


a = [1, 2, 3, 4]
b = [3, 4, 5, 6]

print(union_no_duplicates(a, b))

[1, 2, 3, 4, 5, 6]

ques 20 Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
import random

def shuffle_list(arr):
    n = len(arr)
    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)
        arr[i], arr[j] = arr[j], arr[i]
    return arr


lst = [1, 2, 3, 4, 5]
print(shuffle_list(lst))

[4, 3, 5, 1, 2]

ques 21 Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))


t1 = (1, 2, 3, 4, 5)
t2 = (3, 4, 5, 6, 7)

print(common_elements(t1, t2))

(3, 4, 5)

ques 22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
set1_input = input("Enter the first set of integers (comma-separated): ")
set2_input = input("Enter the second set of integers (comma-separated): ")

set1 = set(int(x.strip()) for x in set1_input.split(","))
set2 = set(int(x.strip()) for x in set2_input.split(","))

intersection = set1.intersection(set2)
print("Intersection of the two sets:", intersection)

Enter the first set of integers (comma-separated): 1,2,3,4,5
Enter the second set of integers (comma-separated): 3,4,5,6,7
Intersection of the two sets: {3, 4, 5}

ques 23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2


t1 = (1, 2, 3)
t2 = (4, 5, 6)

result = concatenate_tuples(t1, t2)
print(result)

(1, 2, 3, 4, 5, 6)

 ques 24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
set1_input = input("Enter the first set of strings (comma-separated): ")
set2_input = input("Enter the second set of strings (comma-separated): ")

set1 = set(item.strip() for item in set1_input.split(","))
set2 = set(item.strip() for item in set2_input.split(","))

difference = set1 - set2

print("Elements present in the first set but not in the second set:", difference)

Enter the first set of strings (comma-separated): apple , banana , cherry
Enter the second set of strings (comma-separated): banana , mango
Elements present in the first set but not in the second set: {'apple', 'cherry'}

ques 25 Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
def slice_tuple(data, start_index, end_index):

    return data[start_index:end_index]

t = (10, 20, 30, 40, 50, 60)

start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))

result = slice_tuple(t, start, end)
print("Sliced tuple:", result)

Enter the start index: 1
Enter the end index: 4
Sliced tuple: (20, 30, 40)

ques 26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
set1_input = input("Enter the first set of characters (comma-separated): ")
set2_input = input("Enter the second set of characters (comma-separated): ")

set1 = set(char.strip() for char in set1_input.split(","))
set2 = set(char.strip() for char in set2_input.split(","))

union_set = set1 | set2

print("Union of the two sets:", union_set)

Enter the first set of characters (comma-separated): a,b,c
Enter the second set of characters (comma-separated): b,c,d
Union of the two sets: {'a', 'd', 'c', 'b'}

ques 27 Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
def min_max_tuple(numbers):

    return (max(numbers), min(numbers))


t = tuple(map(int, input("Enter integers for the tuple (comma-separated): ").split(",")))

maximum, minimum = min_max_tuple(t)

print(f"Maximum value: {maximum}")
print(f"Minimum value: {minimum}")

Enter integers for the tuple (comma-separated): 10,5,20,3,15
Maximum value: 20
Minimum value: 3

ques 28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

difference_set = set1.difference(set2)
print("Difference (set1 - set2):", difference_set)

difference_set2 = set2.difference(set1)
print("Difference (set2 - set1):", difference_set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

ques 29 Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
def count_occurrences(tup, element):
    return tup.count(element)

tuple_input = tuple(input("Enter elements of the tuple separated by commas: ").split(','))

element_input = input("Enter the element to count: ")

count = count_occurrences(tuple_input, element_input)
print(f"The element '{element_input}' appears {count} time(s) in the tuple.")

Enter elements of the tuple separated by commas: 1,2,3,4,5
Enter the element to count: 5,3,5,2
The element '5,3,5,2' appears 0 time(s) in the tuple.

ques 30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
set1 = set(input("Enter elements of the first set separated by spaces: ").split())

set2 = set(input("Enter elements of the second set separated by spaces: ").split())

sym_diff = set1.symmetric_difference(set2)

print("Symmetric Difference:", sym_diff)

Enter elements of the first set separated by spaces: 1,2,3,4,5
Enter elements of the second set separated by spaces: 2,3,5,6
Symmetric Difference: {'1,2,3,4,5', '2,3,5,6'}

ques 31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
words = input("Enter words separated by spaces: ").split()

word_freq = {}

for word in words:
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

print("Word Frequencies:", word_freq)

Enter words separated by spaces: a,e,l,o,k
Word Frequencies: {'a,e,l,o,k': 1}

ques 32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [ ]:
dict1_input = input("Enter the first dictionary (key:value pairs separated by spaces): ").split()
dict1 = {k: int(v) for k, v in (item.split(":") for item in dict1_input)}

dict2_input = input("Enter the second dictionary (key:value pairs separated by spaces): ").split()
dict2 = {k: int(v) for k, v in (item.split(":") for item in dict2_input)}

merged_dict = dict1.copy()
for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

print("Merged Dictionary:", merged_dict)

Enter the first dictionary (key:value pairs separated by spaces): 2:3
Enter the second dictionary (key:value pairs separated by spaces): 4:5
Merged Dictionary: {'2': 3, '4': 5}

ques 33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [ ]:
def get_nested_value(nested_dict, keys):

    current = nested_dict
    for key in keys:
        if isinstance(current, dict) and key in current:
            current = current[key]
        else:
            return None
    return current

nested_dict = {
    'a': {'b': {'c': 42}},
    'x': {'y': 100}
}

keys_input = input("Enter keys separated by commas: ").split(',')
keys_input = [key.strip() for key in keys_input]

value = get_nested_value(nested_dict, keys_input)
print("Value:", value)

Enter keys separated by commas: a,b,c
Value: 42

ques 34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [ ]:
dict_input = input("Enter the dictionary (key:value pairs separated by spaces): ").split()
user_dict = {k: int(v) for k, v in (item.split(":") for item in dict_input)}

order = input("Sort in ascending or descending order? (asc/desc): ").strip().lower()
reverse_order = True if order == 'desc' else False

sorted_dict = dict(sorted(user_dict.items(), key=lambda item: item[1], reverse=reverse_order))

print("Sorted Dictionary:", sorted_dict)

Enter the dictionary (key:value pairs separated by spaces): a:3 b:1 c:2
Sort in ascending or descending order? (asc/desc): asc
Sorted Dictionary: {'b': 1, 'c': 2, 'a': 3}

ques 35 Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [ ]:
dict_input = input("Enter the dictionary (key:value pairs separated by spaces): ").split()
user_dict = {k: v for k, v in (item.split(":") for item in dict_input)}


inverted_dict = {}
for key, value in user_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)
    else:
        inverted_dict[value] = [key]
print("Inverted Dictionary:", inverted_dict)

Enter the dictionary (key:value pairs separated by spaces): a:1 b:2 c:1
Inverted Dictionary: {'1': ['a', 'c'], '2': ['b']}